.App {
  text-align: left;
  margin-left: 40px;
}

.button {
  margin-left: 400px;
  margin-top: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding:5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
	border-radius: 50%;
}

.button2 {
	margin-left: 10px;
	margin-top: -50px;
    background-color: white;
    border: none;
    color: red;
    padding:5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
	
}

.header {
 
  margin-left: 45px;
  font-size: medium;
}

.date
{
  margin-left: 45px;
  
}

.job {
  margin-left: 41px;
}

.time {
  margin-left: 41px;
}

.hours {
  margin-left: 41px;
}

.button3 {
	margin-left: 850px;
	background-color: #4CAF50;
	color: white;
}

.App-title {
  font-size: 1.5em;
}

.info {
  font-size: large;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.input2 {
	border-spacing: 500px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
